.outer-box {
    width: 550px;
    height: 710px;
    background-color: yellow;
    border: 2px solid red;
    border-radius: 15px
}

.inner-green-box {
    width: 490px;
    height: 440px;
    background-color: green;
    border:4px solid red;
    border-radius: 15px;
    margin:20px auto
}

.L-blue-box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 10px;
    margin-left: 190px;
    margin-top: 20px;
}

.blue-box {
    width: 150px;
    height: 200px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.orange-box {
    width: 150px;
    height: 60px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    margin-left: 180px;
    margin-bottom: 20px;
    margin-top: 15px
}

.red-box {
    width: 150px;
    height: 200px;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}